<link rel="stylesheet" href="/css/style.css" />

<main class="content-block">
  <h1>Service Categories</h1>
  <p class="subtitle">Filter community outreach initiatives by primary service domain.</p>

  <% if (categories && categories.length > 0) { %>
    <ul class="categories-list">
      <% categories.forEach(function(category) { %>
        <li class="category-item">
          <div class="category-image-wrapper">
            <img 
              src="/images/categories/<%= category.name.toLowerCase().replace(/[^a-z0-9]/g, '-') %>.jpg" 
              alt="<%= category.name %> Image" 
              class="category-card-img"
              onerror="this.src='/images/categories/default-category.jpg';"
            />
          </div>
          <div class="category-info">
            <span class="category-title"><%= category.name %></span>
          </div>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p class="subtitle">No service categories listed in the database system.</p>
  <% } %>
</main>
